// fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

// colors
$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: white;

// mobile styles
.page{
    // let the page be at least the full width of what the user first sees
    min-height: 100vh;

    background-color: $light-grayish-blue;
    
    // center the grid
    display: grid;
    justify-content: center;
    align-content: center;
}
.article{
    max-width: 37rem;
    min-width: 30rem;
    font-family: "Manrope", sans-serif;
    margin: 0rem 2rem;
    background-color: $white;
    border-radius: 1rem;
    box-shadow: 0 .01rem .5rem hsla(212, 23%, 69%, 0.24);
    font-size: 1.3rem;
    font-weight: 500;

    display: grid;
    grid-template-columns: 4rem 1fr min-content 4rem;
    grid-template-areas: 
        "header header header header"
        " . title titile ."
        " . message message ."
        " footer footer footer footer"
    ;
    row-gap: 2rem;
    &__heading-image{
        border-radius: 1rem 1rem 0 0;
        grid-area: header;

    }
    &__title{
        margin: 0rem;
        line-height: 1.5;
        font-weight: bold;
        color: $dark-grayish-blue;
        grid-area: title;
        font-size: 1.8rem;
    }
    &__message{
        margin: 0rem;
        color: $grayish-blue;
        grid-area: message;
        line-height: 1.7;
    }
    &__selfie{
        border-radius: 50%;
        height: 4rem;
        float: left;
        margin-right: 1rem;
    }
    &__footer{
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-radius: 0 0 1rem 1rem;

        // define where the footer will be located
        grid-area: footer;

        // layout the footer overlay content
        display: grid;
        grid-template-columns: 4rem repeat(3, 1fr) 4rem;
        grid-template-areas: 
            " .  content content button . "
            ;
        justify-content: start;

        // transition footer from author view to share options
        transition: background-color .2s;

        &--share-actived{
            background-color: $dark-blue;
        }
    }
    &__author{
        grid-area: content;

        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: 
            "selfie name"
            "selfie date"
        ;
        column-gap: 1rem;

        &--share-actived{
            z-index: -1;
        }
    }
    &__selfie{
        grid-area: selfie;
    }
    &__author_name{
        min-width: max-content;
        margin: 0;
        color: $dark-grayish-blue;

        grid-area: name;

    }
    &__publish_date{
        margin: 0;
        color: $grayish-blue;

        grid-area: date;
    }
    &__share-button{
        border-radius: 50%;
        padding: .8rem;
        background-color: $light-grayish-blue;
        height: 3rem;
        transition: background-color .3s;
        
        //layout
        grid-area: button;
        justify-self: end;
        align-self: center;
        
        // remove default styles
        border: none;

        &:hover{
            cursor: pointer;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.226);
        }
        
        &--active{
            fill: $white;
            background-color: $grayish-blue;
            transition: fill .3s, background-color .3s;
        }
    }
    &__share-section{
        display: flex;
        justify-content: space-between;
        align-items: center;

        // layout area
        grid-area: content;

        // hide the share options below the footer
        z-index: -1;
        &--active{
            z-index: 1;
        }
        &--background{
            background-color: $dark-blue;

        }
        &-pointing-square{
            display: none;
        }
    }
    &__share-title{
        color: $grayish-blue;
        letter-spacing: 0.491rem;
        font-weight: normal;
    }
    &__icon{
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.226);

        }
    }
    
}

// desktop design
// mobile the image to the left side 
@media (min-width: 710px){
    .article{
        // desktop layout
        grid-template-columns: 1fr 4rem 1fr min-content 4rem;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas: 
            "header . title titile ."
            "header . message message ."
            "header footer footer footer footer"

        ;
        max-width: 71rem;
        row-gap: 0rem;
        
        &__heading-image{
            border-radius: 1rem 0 0 1rem;
            display: grid;
            justify-content: stretch;
            align-content: stretch;
        }
        &__title{
            font-size: 1.8rem;
            margin-top: 2rem;
        }
        &__message{
            font-size: 1.4rem;
        }
        &__footer{
            padding-bottom: 2rem;
            align-content: center;
            &--share-actived{
                background-color: initial;
            }
        }
        &__author{
            &--share-actived{
                z-index: 1;
            }
        }
        &__share-section{
            background-color: $dark-grayish-blue;
            padding: 0rem 1rem;
            border-radius: 1rem;
            position: relative;
            &--active{
                top: -5rem;
                right: -19.3rem;
                justify-content: space-around;
                max-width: 20rem;
            }
            &-pointing-square{
                display: initial;
                position: absolute;
                top: 2rem;
                height: 4rem;
                right: 8.3rem;
            }
        }
        &__icon{
            height: 1.6rem;
        }
        &__share-title{
            font-size: 1rem;
        }

    }

}